{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- start page title -->
<section class="page-title-big-typography bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="background-image: url(/static/assets/images/bsafe/clients-banner.png)"> <!-- img size 1920*1100-->
    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center extra-small-screen">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Clients & Customers We've Partnered Or Worked With</h1>
            </div>
            <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <a href="#down-section" aria-label="scroll down" class="section-link">
                    <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
                        <i class="feather icon-feather-chevron-down"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="ps-12 pe-12 xl-ps-10 xl-pe-10 lg-ps-3 lg-pe-3 half-section" id="down-section">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-4 row-cols-sm-2 clients-style-06" data-anime='{ "el": "childs", "scale": [0,1], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href="#"><img src="/static/assets/images/clients/equans.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href="#"><img src="/static/assets/images/clients/aether.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/parsons-logo.jpeg" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/aecom-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/ADAC-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/alhusam-group-logo.jpg" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/elm-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/miral-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->

            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/CPM-logo.png" class="h-80px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/Bloom-logo.jpg" class="h-80px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->

            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/altorath-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->

            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/DEC-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->

            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/coengr-logo.jpeg" class="h-140px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/dp-logo.jpeg" class="h-70px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/north25-logo.png" class="h-70px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/arabtec-logo.png" class="h-60px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->
            <div class="col client-box text-center pt-6 pb-6 sm-pt-8 sm-pb-8">
                <a href=""><img src="/static/assets/images/clients/parsons-logo.jpeg" class="h-80px md-h-30px sm-h-40px" alt="" /></a>
            </div>
            <!-- end client item -->
            <!-- start client item -->

            <!-- end client item -->
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->

<!-- end section -->
{% endblock content %}