{% extends 'base.html' %} {% load static %} {%block content%}

<!-- end header -->
<!-- start page title -->
<section class="page-title-big-typography h-500px  md-h-450px sm-h-350px   bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="background-image: url('{%static 'assets/images/bsafe/faq.jpg' %}'); background-size: auto !important;">
  <!-- img size 1920*1100 -->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container sm-h-350px">
    <div class="row align-items-center justify-content-center extra-small-screen">

      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



<section class="p-0">
  <!-- img size 1920*1100-->

  <div class="container-fluid">
    <div class="row align-items-center" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <div class="col-12">
        <div class="bg-solitude-blue p-9 md-p-6 xs-p-9 border-radius-6px overflow-hidden position-relative">

          <div class="bg-base-color d-inline-block mb-20px fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12">
            Basic information
          </div>
          <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px">
            Frequently asked questions
          </h3>
          <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
            <!-- start accordion item -->
            <div class="accordion-item active-accordion">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">Why BSafe Group?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    BSafe Group is a platform that provides high-quality international services to support businesses in their operations effectively and establish new ideas.
                  </p>

                </div>
              </div>
            </div>
            <!-- end accordion item -->
            <!-- start accordion item -->
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What services are available at BSafe Group:?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    HSEQ & Construction Supervision.<br>
                    Manpower Deployment.<br>
                    Web Applications & IT solutions.<br>
                    Branding & Marketing.<br>
                    Coming Soon<br>
                    Academic Support for BBA, MBA & DBA.
                  </p>
                </div>
              </div>
            </div>
            <!-- end accordion item -->
            <!-- start accordion item -->
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Who works at BSafe Group?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Our team of skilled professionals is dedicated to creatively delivering resolutions, guided by our motto: We Are Your Strategic Ally In Operations.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-03-04" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Do I have to make any down payment before having any service at BSafe Group?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-03-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    If your company is based in the EU, you are not required to make any payments within the first 120 days from the commencement date of the assignment.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-04-05" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Will it take long to reach an agreement to proceed with BSafe services?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-04-05" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Once we've reached a mutual agreement, it will take up to 72 hours to complete the contract and begin the assignment.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-05-06" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Is BSafe Group working on weekends and holidays?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-05-06" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    BSafe Group is committed to providing round-the-clock deployment of its professionals for existing clients with current or previous agreements.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-06-07" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Where can BSafe Group Operate?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-06-07" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    BSafe Group primarily operates within Europe, yet is eager to extend its services to esteemed international clientele, transcending geographical boundaries.
                  </p>
                </div>
              </div>
            </div>
            <!-- end accordion item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->


<!-- end section -->

<!--FAQ-->


<!-- start section map -->
<!--
    <section class="p-0" id="location" data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 p-0">
                    <div id="map" class="map"
                        data-map-options='{ "lat": -37.805688, "lng": 144.962312, "style": "Silver", "marker": { "type": "HTML", "color": "#aa1e23" }, "popup": { "defaultOpen": false, "html": "<div class=infowindow><strong class=\"mb-3 d-inline-block alt-font\">Crafto Business</strong><p class=\"alt-font\">16122 Collins street, Melbourne, Australia</p></div><div class=\"google-maps-link alt-font\"> <a aria-label=\"View larger map\" target=\"_blank\" jstcache=\"31\" href=\"{{info.map_link}}" jsaction=\"mouseup:placeCard.largerMap\">VIEW LARGER MAP</a></div>" } }'>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
<!-- end section -->

{%endblock content%}