{% extends 'base.html' %} {% load static %} {%block content%}

<!-- end header -->
<!-- start page title -->
<section class="page-title-big-typography h-500px  md-h-450px sm-h-350px   bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="background-image: url('{%static 'assets/images/bsafe/faq.jpg' %}'); background-size: auto !important;">
  <!-- img size 1920*1100 -->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container sm-h-350px">
    <div class="row align-items-center justify-content-center extra-small-screen">

      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



<section class="p-0">
  <!-- img size 1920*1100-->

  <div class="container-fluid">
    <div class="row align-items-center" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <div class="col-12">
        <div class="bg-solitude-blue p-9 md-p-6 xs-p-9 border-radius-6px overflow-hidden position-relative">

          <div class="bg-base-color d-inline-block mb-20px fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12">
            Basic information
          </div>
          <h3 class="alt-font fw-600 text-dark-gray ls-minus-1px">
            Frequently Asked Questions (FAQ)
          </h3>
          <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
            <!-- start accordion item -->
            <div class="accordion-item active-accordion">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-minus fs-20"></i><span class="fw-500">How do you ensure compliance with industry standards in HSEQ Management?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We follow industry best practices and apply recognised frameworks to implement Health, Safety, Environment and Quality standards. Our approach includes regular audits, gap analysis and adherence to local and international regulations to ensure full compliance.
                  </p>

                </div>
              </div>
            </div>
            <!-- end accordion item -->
            <!-- start accordion item -->
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What industries can benefit from HSE deployment?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    HSE Deployment is applicable across multiple industries, including construction, manufacturing, oil and gas and logistics.<br> Our solutions are tailored to fit the specific needs of your industry, ensuring that safety measures are practical and relevant.
                  </p>
                </div>
              </div>
            </div>
            <!-- end accordion item -->
            <!-- start accordion item -->
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can HSE Field Training be customised for my organisation?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Our HSE Field Training programs are customised to meet your organisation's specific requirements. We assess your needs and develop targeted training programs that fit the nature of your operations and address potential safety concerns.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-03-04" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What sets your construction management service apart from others?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-03-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We focus on a collaborative approach, transparent communication and attention to detail. Our experience managing complex projects allows us to efficiently handle budgets, scheduling, resource allocation and stakeholder coordination for a successful project outcome.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-04-05" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What technologies are used in your Web application development?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-04-05" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Depending on the project requirements, we use a range of technologies, including HTML5, CSS3, JavaScript, React, Node.js, and other popular frameworks.<br> Our focus is on providing secure, scalable, and user-friendly web solutions.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-05-06" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How do you measure the success of branding & marketing campaigns?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-05-06" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We use key performance indicators (KPIs) such as brand recognition, customer engagement, conversion rates and return on investment (ROI). Our data-driven marketing strategies ensure that every campaign is monitored and optimised for the best results.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-06-07" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What are the benefits of using your Thesis guidance service?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-06-07" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Our Thesis Guidance service saves you time by providing structured support throughout the research and writing process. It ensures academic rigour, helps improve the quality of your work and increases your confidence in defending your thesis.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-07-08" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How can your import & export consultancy help reduce operational costs?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-07-08" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We help identify cost-effective trade routes, streamline logistics and reduce delays by ensuring compliance with all relevant regulations. We also provide strategies to minimise duties and taxes, ultimately reducing your overall operational costs.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-08-09" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Are the HSEQ Management services applicable to small businesses?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-08-09" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Absolutely. Our HSEQ Management services are scalable and can be tailored to suit small businesses. We understand that each organisation is unique and provide cost-effective solutions to help small businesses maintain compliance and ensure workplace safety.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-09-10" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500"> Do you offer ongoing support for Web applications after deployment?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-09-10" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We offer ongoing maintenance and support services to ensure your web application is always up-to-date, secure, and functioning smoothly. We provide updates, security patches, and optimization as required.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-10-11" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">How do I get started with your Construction management services?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-10-11" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Getting started is simple. Contact us through our website, and we'll schedule a consultation to discuss your project requirements, timelines, and specific goals. From there, we'll develop a tailored plan to meet your needs.

                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-11-12" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">Can you help with market research for import & export?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-11-12" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                  <p class="w-90 sm-w-95 xs-w-100">
                    We conduct thorough market research to identify the best opportunities for your business. This includes analysing target markets, understanding local regulations, identifying potential suppliers or buyers and providing insights for successful market entry.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header border-bottom border-color-transparent">
                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-12-13" aria-expanded="false" data-bs-parent="#accordion-style-02" aria-label="accordion">
                  <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                    <i class="feather icon-feather-plus fs-20"></i><span class="fw-500">What qualifications do your trainers have for HSE field training?</span>
                  </div>
                </a>
              </div>
              <div id="accordion-style-12-13" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                  <p class="w-90 sm-w-95 xs-w-100">
                    Our trainers are certified professionals with extensive industry experience in health and safety. They hold recognised certifications and a track record of successfully conducting HSE training across various sectors.
                  </p>
                </div>
              </div>
            </div>
            <!-- end accordion item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->


<!-- end section -->

<!--FAQ-->


<!-- start section map -->
<!--
    <section class="p-0" id="location" data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 p-0">
                    <div id="map" class="map"
                        data-map-options='{ "lat": -37.805688, "lng": 144.962312, "style": "Silver", "marker": { "type": "HTML", "color": "#aa1e23" }, "popup": { "defaultOpen": false, "html": "<div class=infowindow><strong class=\"mb-3 d-inline-block alt-font\">Crafto Business</strong><p class=\"alt-font\">16122 Collins street, Melbourne, Australia</p></div><div class=\"google-maps-link alt-font\"> <a aria-label=\"View larger map\" target=\"_blank\" jstcache=\"31\" href=\"{{info.map_link}}" jsaction=\"mouseup:placeCard.largerMap\">VIEW LARGER MAP</a></div>" } }'>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->
<!-- end section -->

{%endblock content%}