{% extends "base.html" %} {% load static %} {% block content %}
<!-- start page title -->
<section class="page-title-big-typography h-700px  bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="
    background-image: url('{%static 'assets/images/bsafe/services/food-banner.jpg' %}'); background-size: auto !important;
  "> <!--img size 1920*1100-->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container mt-5">
    <div class="row align-items-center justify-content-center extra-small-screen">
      <div class="col-12 position-relative text-center page-title-extra-large">
        <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Food Safety & Hygiene
        </h1>
      </div>
      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- start section -->
<section id="down-section">
  <div class="container">
    <div class="row align-items-center justify-content-center" data-anime='{ " perspective": 1200 }'>
      <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <figure class="position-relative m-0">
          <img src="{%static 'assets/images/bsafe/services/food-section-1.jpg' %}" alt="" class="w-100 border-radius-5px" />
          <!--img size 800*660-->

        </figure>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10 text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">train to lead</span>
        <h3 class="fw-600 text-dark-gray mb-20px ls-minus-2px alt-font text-capitalize">
          Public Food Safety
        </h3>
        <p class="w-95 md-w-100 mb-35px">
          BSafe Group International’s Food Safety & Hygiene services are tailored for outdoor food vendors, mobile food businesses and small-scale caterers. From burger stands and drink kiosks to ice cream trucks and food carts, We help vendors meet regulations. Through practical training, on-site support, and compliance checks, our team ensures that food is handled, stored and served safely in public spaces.
        </p>
        <div class="pt-20px pb-20px ps-30px pe-30px xs-p-15px border border-color-extra-medium-gray border-radius-6px mb-15px icon-with-text-style-08 w-90 lg-w-100">
          <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
            <div class="feature-box-icon me-10px">
              <i class="bi bi-people icon-medium text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="alt-font fw-600 text-dark-gray d-block lh-26">15k+ Workforce Trained & Learned</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section bg-gradient-very-light-gray position-relative pb-0 pt-2">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-XL-7 col-lg-8 text-center">
        <h2 class="text-dark-gray fw-700 ls-minus-1px">Collaboration Advantages  </h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2  mb-6">
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2 ">

            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Reduced contamination risk</span>
            <p class="w-100 xl-w-90">Prevents foodborne illness through safe preparation practices.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Regulatory compliance</span>
            <p class="w-100 xl-w-90">Helps meet EU and local food hygiene standards.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Customer confidence</span>
            <p class="w-100 xl-w-90">Clean operations increase trust and repeat purchases.</p>
          </div>
        </div>
      </div>
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Improved efficiency</span>
            <p class="w-100 xl-w-90">On-the-ground education for specific food handling needs.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Tailored vendor training</span>
            <p class="w-100 xl-w-90">On-the-ground education for specific food handling needs.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Certifications and inspections</span>
            <p class="w-100 xl-w-90">Supports hygiene certification and audit preparation.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px ">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Sanitation best practices</span>
            <p class="w-100 xl-w-90">Teaches effective cleaning and waste disposal methods.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px ">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Growth enablement</span>
            <p class="w-100 xl-w-90">Helps vendors qualify for larger events and locations.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
    </div>
  </div>
</section>
<!-- end section -->



<!-- start section -->
<section>
  <div class="container">
    <div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
      <div class="col-xl-7 col-lg-7 col-md-10 md-mb-50px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">courses advantages</span>
        <h3 class="fw-600 text-dark-gray ls-minus-2px alt-font text-capitalize" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
          Enhancement of Operations
        </h3>
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">On-site hygiene audits for outdoor food setups</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Food handler training and certification support
              </span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Cold chain and temperature control guidance</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Safe food preparation and service planning</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Cross-contamination prevention protocols and tools</span>
            </div>
          </div>
        </div>
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Mobile unit sanitation and waste management solutions</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Licensing and inspection readiness preparation</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Hygiene display materials to assure customer confidence</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

      </div>
      <div class="col-lg-5 col-xl-5 h-100 position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="atropos" data-atropos data-atropos-perspective="2450">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner">
                <img src="/static/assets/images/bsafe/training-section3.jpg"  alt="" class="border-radius-6px" />
                <!--img size 800*660-->
              </div>
            </div>
          </div>
        </div>
        <div class="absolute-middle-center text-white-space-nowrap z-index-9">
          <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>How it works</a>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 text-center justify-content-center align-items-center clients-style-06" data-anime='{ "el": "childs", "translateX": [0, 0], "opacity": [0,1], "duration": 500, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
      <!-- start client item -->
      <div class="col md-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-logitech.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col md-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-amazon.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col xs-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-walmart.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col">
        <div class="client-box">
          <a href="#"><img src="images/logo-monday.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section position-relative">
  <div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100 z-index-minus-1" data-particle="true"
    data-particle-options='{"particles": {"number": {"value": 25,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ffc700", "#232323"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 1,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'>
  </div>
  <div class="container position-relative">
    <div class="position-absolute bottom-150px lg-bottom-50px z-index-minus-2 d-none d-lg-block"><img src="{%static 'assets/images/bsafe/hat.png' %}" data-bottom-top="transform: rotate(10deg) translateX(50px)" data-top-bottom="transform:rotate(-10deg) translateX(-50px)" alt="" /></div>
    <div class="position-absolute top-minus-150px right-50px z-index-minus-2 opacity-6 d-none d-lg-block"><img src="{%static 'assets/images/bsafe/hat2.png' %}" data-bottom-top="transform: rotate(20deg) translateY(50px)" data-top-bottom="transform:rotate(-20deg) translateY(-50px)" alt="" /></div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-11 text-center mb-3">
        <h3 class="text-base-color fw-700 ls-minus-2px mb-40px">Schedule a Consultation or Emergency Service</h2>
        <a href="#" id="bookBtn" title="Focusing on the needs of your project" class="btn btn-extra-large btn-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-url="{% url 'booking:book_appointment' %}">Appointments<span class="bg-white"></span></a>
        <a href="{% url 'contact:contact' %}" title="Long-term planning represents our functions" class="btn btn-extra-large btn-transparent-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px">business request<span class="bg-dark-gray"></span></a>
        <a href="https://wa.me/+31645300279" title="There is no emergency as we are by your side" class="btn btn-extra-large btn-transparent-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px">Emergency Demand<span class="bg-dark-gray"></span></a>
        <a href="tel:+32470982341" title="Every call is handled with care and action" class="btn btn-extra-large btn-transparent-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px">
          argent call<span class="bg-dark-gray"></span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- start section -->
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-7 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Other Business Services
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center g-3 g-md-4" data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/services_HSEQ.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSEQ Management</a>
            <p>Zero LTI Is What Aim For</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->

      <!-- end fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Field Trainings</a>
            <p>Competence Protects Organizations</p>
          </div>
        </div>
      </div>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/deployment3.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Deployment</a>
            <p>Collaboration Equals Supervision</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/construction_management_section1.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Construction Management</a>
            <p>Agile Expertise in Every Project Phase</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/WEB.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Web Applications</a>
            <p>Streamlining Enhance Businesses</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/market377.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Branding & Marketing</a>
            <p>Trademark Is A New Creation</p>
          </div>
        </div>
      </div>


      <!--start fancy text box item-->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/import_export.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Import & Export</a>
            <p>Trading For Your Business Growth</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!--start fancy text box item-->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/logistics-card.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Logistics & Transport</a>
            <p>Tailored to client demands</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!--start fancy text box item-->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/food-card.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Food_Safety' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Food_Safety' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Food Safety & Hygiene</a>
            <p>We help vendors meet regulations</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->

<!-- end section -->

{% endblock content %}