{% extends "base.html" %} {% load static %} {% block content %}
<!-- start page title -->
<section class="page-title-big-typography h-700px  bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="
    background-image: url('{%static 'assets/images/bsafe/services/Trainings.jpg' %}'); background-size: auto !important;
  "> <!--img size 1920*1100-->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container mt-5">
    <div class="row align-items-center justify-content-center extra-small-screen">
      <div class="col-12 position-relative text-center page-title-extra-large">
        <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          HSE Field Trainings
        </h1>
      </div>
      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- start section -->
<section id="down-section">
  <div class="container">
    <div class="row align-items-center justify-content-center" data-anime='{ " perspective": 1200 }'>
      <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <figure class="position-relative m-0">
          <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" class="w-100 border-radius-5px" />
          <!--img size 800*660-->

        </figure>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10 text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">train to lead</span>
        <h3 class="fw-600 text-dark-gray mb-20px ls-minus-2px alt-font text-capitalize">
          first line of defence is competance
        </h3>
        <p class="w-95 md-w-100 mb-35px">
          At Bsafe Group, we prioritize competence as the primary defence in upholding a safe and compliant workplace. Our HSE Field training equips your workforce with the skills to recognize, address, and alleviate safety hazards in real-world settings. We empower your team to prevent incidents
          proactively, minimize risks, and cultivate a safety-centric culture throughout all operations.
        </p>
        <div class="pt-20px pb-20px ps-30px pe-30px xs-p-15px border border-color-extra-medium-gray border-radius-6px mb-15px icon-with-text-style-08 w-90 lg-w-100">
          <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
            <div class="feature-box-icon me-10px">
              <i class="bi bi-people icon-medium text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="alt-font fw-600 text-dark-gray d-block lh-26">15k+ workforce trained & learned</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section bg-gradient-very-light-gray position-relative pb-0 pt-2">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-XL-7 col-lg-8 text-center">
        <h2 class="text-dark-gray fw-700 ls-minus-1px">Advantages of Collaboration With Our Organization</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2  mb-6">
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2 ">

            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Hands-on learning</span>
            <p class="w-100 xl-w-90">Practical, field-specific training equips employees to handle real-life challenges.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Reduced workplace hazards</span>
            <p class="w-100 xl-w-90">Training helps staff identify potential hazards and apply preventive measures.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Enhanced emergency preparedness</span>
            <p class="w-100 xl-w-90">Staff are well-prepared to respond effectively in emergencies.</p>
          </div>
        </div>
      </div>
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Compliance assurance</span>
            <p class="w-100 xl-w-90">Ensures employees are trained to meet industry-specific safety standards.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Higher engagement</span>
            <p class="w-100 xl-w-90">Custom training programs lead to better employee engagement and retention.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Improved first aid response</span>
            <p class="w-100 xl-w-90">Basic first aid knowledge enhances emergency response capabilities.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px ">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Increased productivity</span>
            <p class="w-100 xl-w-90">A trained workforce is more productive and works more efficiently.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->

      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px ">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon me-2">
            <i class="fa-solid fa-arrow-right icon-medium "></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 mb-5px">Fewer accidentst</span>
            <p class="w-100 xl-w-90">Proper training results in a lower rate of workplace accidents and injuries.</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="bg-solitude-blue">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-8 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px sm-mb-20px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          increased awaraness reduces risk of accidents
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "willchange": "transform", "scale":[0.95,1], "opacity": [0, 1], "duration": 800, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-people-roof text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Safety Protocol Training</span>
            <p class="text-light-opacity">
              Educate staff on health and safety measures.
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-kit-medical text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Emergency Response</span>
            <p class="text-light-opacity">
              Train employees to respond to emergencies quickly and effectively
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all xs-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-biohazard text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Hazard Identification</span>
            <p class="text-light-opacity">
              Educate your team on recognising and addressing potential hazards
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-person-circle-check text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Personal Protective Equipment (PPE) Use</span>
            <p class="text-light-opacity">
              Equipment (PPE) Use: Training on proper use and handling of PPE
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-person-falling-burst text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Accident Prevention</span>
            <p class="text-light-opacity">
              Provide training to reduce the likelihood of workplace incidents
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-list-check text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Custom Programs</span>
            <p class="text-light-opacity">
              Develop tailored training programs to address unique field challenges
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-parachute-box text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">First Aid Training</span>
            <p class="text-light-opacity">
              Equip your workforce with essential first aid response skills
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">

            <i class="fa-solid fa-check text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">On-the-Job Training</span>
            <p class="text-light-opacity">
              Deliver hands-on safety training in real work environments
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mt-6 xs-mt-8" data-anime='{ "el": "childs", "translateY":[0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>
      <!-- start content box item -->
      <div class="col border-end xs-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">4.98</h2>
          </div>
          <div class="text-dark-gray">
            <div class="fs-14 lh-28">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <span class="fs-17 lh-26 d-block fw-500">177 rating</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
      <!-- start content box item -->
      <div class="col border-end md-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
              99<sup class="fs-30">%</sup>
            </h2>
          </div>
          <div class="text-dark-gray">
            <span class="fs-17 lh-26 d-block fw-500">Genuine client's <br />positive feedback.</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
      <!-- start content box item -->
      <div class="col">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
              126<sup class="fs-30">+</sup>
            </h2>
          </div>
          <div class="text-dark-gray">
            <span class="fs-17 lh-26 d-block fw-500">Monthly expert <br />business advice.</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section>
  <div class="container">
    <div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
      <div class="col-xl-7 col-lg-7 col-md-10 md-mb-50px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">courses advantages</span>
        <h3 class="fw-600 text-dark-gray ls-minus-2px alt-font text-capitalize" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
          full compliance & harnesses of reputaion
        </h3>
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Enhanced reputation by ensuring full compliance with safety and environmental standards.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Reducing the chances of accidents and incidents requires effectively identifying and managing potential risks.
              </span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Adhering to local and international regulations helps reduce the risk of fines, legal action, and shutdowns.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Promoting safety boosts employee trust and morale, leading to a more positive work culture. </span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Implementing a sound compliance system reduces the time lost due to incidents or regulatory delays, which helps improve productivity.</span>
            </div>
          </div>
        </div>
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">A strong reputation for compliance and safety attracts more business opportunities and partnerships.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->

        <!-- start features box item -->

        <!-- end features box item -->
      </div>
      <div class="col-lg-5 col-xl-5  position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="atropos" data-atropos data-atropos-perspective="2450">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner">
                <img src="/static/assets/images/bsafe/training-section3.jpg" alt="" class="border-radius-6px" />
                <!--img size 800*660-->
              </div>
            </div>
          </div>
        </div>
        <div class="absolute-middle-center text-white-space-nowrap z-index-9">
          <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>How it works</a>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 text-center justify-content-center align-items-center clients-style-06" data-anime='{ "el": "childs", "translateX": [0, 0], "opacity": [0,1], "duration": 500, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
      <!-- start client item -->
      <div class="col md-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-logitech.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col md-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-amazon.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col xs-mb-40px">
        <div class="client-box">
          <a href="#"><img src="images/logo-walmart.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
      <!-- start client item -->
      <div class="col">
        <div class="client-box">
          <a href="#"><img src="images/logo-monday.svg" class="h-40px" alt="" /></a>
        </div>
      </div>
      <!-- end client item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section position-relative">
  <div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100 z-index-minus-1" data-particle="true"
    data-particle-options='{"particles": {"number": {"value": 25,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ffc700", "#232323"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 1,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'>
  </div>
  <div class="container position-relative">
    <div class="position-absolute bottom-150px lg-bottom-50px z-index-minus-2 d-none d-lg-block"><img src="{%static 'assets/images/bsafe/hat.png' %}" data-bottom-top="transform: rotate(10deg) translateX(50px)" data-top-bottom="transform:rotate(-10deg) translateX(-50px)" alt="" /></div>
    <div class="position-absolute top-minus-150px right-50px z-index-minus-2 opacity-6 d-none d-lg-block"><img src="{%static 'assets/images/bsafe/hat2.png' %}" data-bottom-top="transform: rotate(20deg) translateY(50px)" data-top-bottom="transform:rotate(-20deg) translateY(-50px)" alt="" /></div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8 text-center mb-3">
        <h2 class="text-base-color fw-700 ls-minus-2px mb-40px">Get a consultation services.</h2>
        <a href="#" id="bookBtn" class="btn btn-extra-large btn-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-url="{% url 'booking:book_appointment' %}">GET A QUOTE<span class="bg-white"></span></a>
        <a href="{% url 'contact:contact' %}" class="btn btn-extra-large btn-transparent-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px">Contact US<span class="bg-dark-gray"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- start section -->
<section class="py-0">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-7 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Other business services
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center g-3 g-md-4" data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/services_HSEQ.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSEQ Management</a>
            <p>Zero LTI Is What Aim For</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->

      <!-- end fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Field Trainings</a>
            <p>Competence Protects Organizations</p>
          </div>
        </div>
      </div>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/deployment3.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Deployment</a>
            <p>Collaboration Equals Supervision</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/construction_management_section1.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Construction Management</a>
            <p>Agile Expertise in Every Project Phase</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/WEB.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Web Applications</a>
            <p>Streamlining Enhance Businesses</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/market377.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Branding & Marketing</a>
            <p>Trademark Is A New Creation</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/Thesis.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Thesis Guidance</a>
            <p>Study to Learn. Guide to Lead.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/import_export.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Import & Export</a>
            <p>Trading For Your Business Growth</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="half-section">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      <div class="col sm-mb-20px" data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h4 class="alt-font text-dark-gray fw-600 ls-minus-2px m-0">
          Get a free personal business consultation?
        </h4>
      </div>
      <div class="col-12 col-md-auto" data-anime='{ "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="{% url 'contact:contact' %}" class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded left-icon"><i class="feather icon-feather-mail"></i>Free consultation</a>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

{% endblock content %}