{% extends "base.html" %} {% load static %} {% block content %}
<!-- start page title -->
<section class="page-title-big-typography h-700px  md-h-450px sm-h-350px  bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="
    background-image: url('{%static 'assets/images/bsafe/services/import_export_banner.jpg' %}'); background-size: auto !important;">
    <!-- img size 1920*1100-->
    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
    <div class="container mt-5">
        <div class="row align-items-center justify-content-center extra-small-screen">
            <div class="col-12 position-relative text-center page-title-extra-large">
                <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    Import & Export
                </h1>
            </div>
            <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <a href="#down-section" aria-label="scroll down" class="section-link">
                    <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
                        <i class="feather icon-feather-chevron-down"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- start section -->
<section id="down-section">
    <div class="container">
        <div class="row align-items-center justify-content-center" data-anime='{ " perspective": 1200 }'>
            <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <figure class="position-relative m-0">
                    <img src="{%static  'assets/images/bsafe/import.jpg' %}" alt="" class="w-100 border-radius-5px" />
                    <!-- img size 800*660-->

                </figure>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10 text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Business planning</span>
                <h3 class="fw-600 text-capitalize text-dark-gray mb-20px ls-minus-2px alt-font">
                     dedicated services
                </h3>
                <p class="w-95 md-w-100 mb-35px">
                    At Bsafe Group, our Import & Export services provide professional support for your global trade operations. We offer comprehensive solutions covering market analysis, logistics planning, customs compliance, & tariff consultation. Our team ensures seamless transactions,
                    minimizes delays, & optimizes costs while ensuring full compliance with international regulations. Trust Bsafe Group to handle your global trade operations efficiently, allowing you to focus on growing your business in new markets.
                </p>
                <div class="pt-20px pb-20px ps-30px pe-30px xs-p-15px border border-color-extra-medium-gray border-radius-6px mb-15px icon-with-text-style-08 w-90 lg-w-100">
                    <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
                        <div class="feature-box-icon me-10px">
                            <i class="bi bi-people icon-medium text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="alt-font fw-600 text-dark-gray d-block lh-26 text-capitalize">10k+ people trusting the agency</span>
                        </div>
                    </div>
                </div>
                <p class="fs-13 mb-0">
                    We are excited for our work & how it
                    <span class="text-dark-gray text-decoration-line-bottom">positively</span>
                    impacts clients.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section bg-gradient-very-light-gray position-relative pb-0 pt-2">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-XL-7 col-lg-8 text-center">
                <h2 class="text-dark-gray fw-700 ls-minus-1px text-capitalize">Collaboration Advantages  </h2>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2  mb-6">
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2 ">

                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Efficient global operations</span>
                        <p class="w-100 xl-w-90">Smooth logistics planning & freight forwarding ensure efficient movement of goods.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Compliance assurance</span>
                        <p class="w-100 xl-w-90">Expert guidance on regulations helps avoid costly legal issues.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Cost optimisation</span>
                        <p class="w-100 xl-w-90">Tariff consultation & strategy development help minimise expenses.</p>
                    </div>
                </div>
            </div>
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Market insights</span>
                        <p class="w-100 xl-w-90">Market analysis provides a deep understanding of target markets for better decisions.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Reliable partners</span>
                        <p class="w-100 xl-w-90">Supplier identification ensures reliable sources for your products or materials.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Reduced delays</span>
                        <p class="w-100 xl-w-90">Customs brokerage services facilitate quicker clearance & fewer delays.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 sm-mb-40px ">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Strategic growth</span>
                        <p class="w-100 xl-w-90">Market entry strategies are designed for long-term growth & expansion</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->

            <!-- start features box item -->
            <div class="col icon-with-text-style-01 sm-mb-40px ">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-icon me-2">
                        <i class="fa-solid fa-arrow-right icon-medium "></i>
                    </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Comprehensive support</span>
                        <p class="w-100 xl-w-90">End-to-end support—from documentation to logistics—ensures smooth import/export operations.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="bg-solitude-blue">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-xl-8 col-lg-9 col-md-10 text-center">
                <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px sm-mb-20px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    Areas of Expertise
                </h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "willchange": "transform", "scale":[0.95,1], "opacity": [0, 1], "duration": 800, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start features box item -->
            <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-magnifying-glass-chart text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Market Analysis</span>
                        <p class="text-light-opacity">
                            Evaluate opportunities for import & export in target markets
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-brands fa-pagelines text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Logistics Planning</span>
                        <p class="text-light-opacity">
                            Plan efficient transport & delivery of goods
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col-lg-4 icon-with-text-style-04 transition-inner-all xs-mb-30px">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">

                        <i class="fa-solid fa-file-circle-check text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Compliance Documentation</span>
                        <p class="text-light-opacity">
                            Prepare all required documentation for smooth trade
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-file-shield text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Customs Brokerage</span>
                        <p class="text-light-opacity">
                            Handle customs clearance & tariff processes effectively
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-id-card text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Supplier Identification</span>
                        <p class="text-light-opacity">
                            Identify & verify reliable suppliers & buyers globally
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-chart-line text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Trade Strategy</span>
                        <p class="text-light-opacity">
                            Create market entry & growth strategies for international trade
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-truck text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Freight Forwarding</span>
                        <p class="text-light-opacity">
                            Coordinate transportation services for goods
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
                <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="fa-solid fa-file-invoice-dollar text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                            <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Tariff Consultation</span>
                        <p class="text-light-opacity">
                            Provide expert advice on tariffs to optimise cost savings
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mt-6 xs-mt-8" data-anime='{ "el": "childs", "translateY":[0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>
            <!-- start content box item -->
            <div class="col border-end xs-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">4.98</h2>
                    </div>
                    <div class="text-dark-gray">
                        <div class="fs-14 lh-28">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        </div>
                        <span class="fs-17 lh-26 d-block fw-500 text-capitalize">177 rating</span>
                    </div>
                </div>
            </div>
            <!-- end content box item -->
            <!-- start content box item -->
            <div class="col border-end md-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
                            99<sup class="fs-30">%</sup>
                        </h2>
                    </div>
                    <div class="text-dark-gray">
                        <span class="fs-17 lh-26 d-block fw-500 text-capitalize">Genuine client's <br />positive feedback.</span>
                    </div>
                </div>
            </div>
            <!-- end content box item -->
            <!-- start content box item -->
            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
                            126<sup class="fs-30">+</sup>
                        </h2>
                    </div>
                    <div class="text-dark-gray">
                        <span class="fs-17 lh-26 d-block fw-500 text-capitalize">Monthly expert <br />business advice.</span>
                    </div>
                </div>
            </div>
            <!-- end content box item -->
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
            <div class="col-xl-7 col-lg-7 col-md-10 md-mb-50px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Services benefits</span>
                <h3 class="fw-600 text-dark-gray ls-minus-2px alt-font" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    Why To Choose Us?
                </h3>
                <!-- start features box item -->
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Tailored Solutions: We create customized web applications to meet your business needs.</span>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">User-Friendly Design: Our applications feature an intuitive & user-friendly interface.</span>
                        </div>
                    </div>
                </div>
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Scalability: Our solutions are designed to grow alongside your business & adapt to future requirements.</span>
                        </div>
                    </div>
                </div>
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Improved Efficiency: Streamline operations & automate processes to save time & resources.</span>
                        </div>
                    </div>
                </div>
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Robust Security: We prioritize high-level security to protect your data & guard against cyber threats.</span>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Ongoing Support: We offer continuous maintenance & updates to ensure your application runs smoothly.

                            </span>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="icon-with-text-style-08">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Competitive Edge: Our innovative solutions provide an advantage over competitors in the digital realm.</span>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
            </div>
            <div class="col-lg-5 col-xl-5 position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="atropos" data-atropos data-atropos-perspective="2450">
                    <div class="atropos-scale">
                        <div class="atropos-rotate">
                            <div class="atropos-inner">
                                <img src="{%static  'assets/images/bsafe/import_2.jpg' %}" alt="" class="border-radius-6px" />
                                <!--img size 800*660-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute-middle-center text-white-space-nowrap z-index-9">
                    <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>See How We Work</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-xl-7 col-lg-9 col-md-10 text-center">
                <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    Other Business Services
                </h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center g-3 g-md-4" data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <!-- start fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/services/services_HSEQ.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSEQ Management</a>
                        <p>Zero LTI Is What Aim For</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->

            <!-- start fancy text box item -->

            <!-- end fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}"
                            class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Field Trainings</a>
                        <p>Competence Protects Organizations</p>
                    </div>
                </div>
            </div>
            <!-- start fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/hse/deployment3.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Deployment</a>
                        <p>Collaboration Equals Supervision</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->

            <!-- start fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/services/construction_management_section1.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='construction_management' %}"
                            class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Construction Management</a>
                        <p>Agile Expertise in Every Project Phase</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->

            <!-- start fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/services/WEB.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='website_applications' %}"
                            class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Web Applications</a>
                        <p>Streamlining Enhance Businesses</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->

            <!-- start fancy text box item -->
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/market377.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Branding & Marketing</a>
                        <p>Trademark Is A New Creation</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/services/Thesis.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Thesis Guidance</a>
                        <p>Study to Learn. Guide to Lead.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
                    <div class="position-relative box-image">
                        <img src="{%static 'assets/images/bsafe/services/import_export.jpg' %}" alt="" /><!--img size 800*660-->
                        <div class="box-overlay bg-dark-gray"></div>
                        <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
                    </div>
                    <div class="p-10 bg-white last-paragraph-no-margin text-center">
                        <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Import & Export</a>
                        <p>Trading For Your Business Growth</p>
                    </div>
                </div>
            </div>
            <!-- end fancy text box item -->

            <!--start fancy text box item-->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/logistics-card.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Logistics & Transport</a>
            <p>Tailored to client demands</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!--start fancy text box item-->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/food-card.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Food_Safety' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Food_Safety' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Food Safety & Hygiene</a>
            <p>We help vendors meet regulations</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->

<!-- end section -->

{% endblock content %}