{% extends "base.html" %} {% load static %} {% block content %}
<!-- start section -->


<section class="big-section pb-40px threeD-letter-menu d-flex align-items-center position-relative">
  <video autoplay muted loop playsinline class="position-absolute top-0 left-0 w-100 h-100 video-background" style="object-fit: cover;">
    <source src="/static/assets/video/home.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.5);"></div>

  <div class="container h-100 position-relative z-index-1">
    <div class="row align-items-center justify-content-center text-center h-100">
      <div class="col-8 col-md-7 col-lg-6 col-sm-8 col-xs-3 col-xl-12 position-relative atropos transform-3d" data-atropos>
        <div class="atropos-scale">
          <div class="atropos-rotate">
            <div class="atropos-inner text-center">
              <img data-atropos-offset="3" class="position-relative z-index-10 w-30 lg-w-80 md-w-90 sm-w-100" src="{% static 'assets/images/bsafe/BSG_logo_big.png'%}" alt=""
                data-anime='{ "translateY": [50, 0], "rotateX": [10, 0], "perspective": [1000,1200], "scale": [1.1, 1], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
              <h2 class="alt-font fs-70  xl-fs-60 md-fs-60 sm-fs-50 text-white fw-700 xl-w-100 text-shadow-double-large ls-minus-2px">
                Emphasizing Success
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center h-100">
      <div class="col-auto justify-content-center text-center position-relative text-white text-center text-md-center" data-anime='{ "el": "childs", "translateX": [100, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div>
          <span class="fs-20 sm-fs-15 opacity-6 mb-25px sm-mb-15px d-inline-block fw-300">Overcoming Operational Challenges</span>
        </div>
        <a href="#down-section" aria-label="scroll down" class="btn btn-extra-large btn-rounded with-rounded btn-base-color section-link btn-box-shadow box-shadow-extra-large mt-20px sm-mt-0">
          Our Services <span class="bg-white text-base-color"><i class="fa-solid fa-arrow-down"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>



<section id="down-section" class="overflow-hidden position-relative bg-gradient-very-light-gray user-select-none">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-5 md-mb-50px sm-mb-35px">
        <span class="fs-20 d-inline-block mb-15px text-base-color">Your Satisfaction Drives Our Services</span>
        <h4 class="alt-font fw-500 text-dark-gray ls-minus-1px w-100 xl-w-100 shadow-none" data-shadow-animation="true" data-animation-delay="700"><span class="fw-700 text-highlight d-inline-block">Business Solutions</span>
        </h4>
        <p class="mb-30px w-100 md-w-100">Through a comprehensive understanding of market requirements, we deliver high-quality engineering, business, & trading services that effectively cater to customers' needs within the EU region & the global market
        </p>
        <div class="d-flex">
          <!-- start slider navigation -->
          <div class="slider-one-slide-prev-1 swiper-button-prev slider-navigation-style-04 bg-white box-shadow-large"><i class="fa-solid fa-arrow-left icon-small text-dark-gray"></i></div>
          <div class="slider-one-slide-next-1 swiper-button-next slider-navigation-style-04 bg-white box-shadow-large"><i class="fa-solid fa-arrow-right icon-small text-dark-gray"></i></div>
          <!-- end slider navigation -->
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="outside-box-right-20 sm-outside-box-right-0" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
          <div class="swiper magic-cursor slider-one-slide"
            data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "pagination": { "el": ".slider-three-slide-pagination", "clickable": true, "dynamicBullets": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "320": { "slidesPerView": 1 } }, "effect": "slide" }'>
            <div class="swiper-wrapper">
              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="#">
                      <img src="{%static 'assets/images/bsafe/home_page/HSEQ.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>
                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static 'assets/images/bsafe/icon/HSEQ.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="text-base-color alt-font fw-800 fs-32">HSEQ Management</a>

                      <p class="text-white mt-20px">Our HSEQ management service has been developed to improve workplace safety, promote environmental sustainability, & ensure quality assurance
                      </p>

                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{%static 'assets/images/bsafe/home_page/HSE_Deployment.jpg' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/HSE_Deployment.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>

                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/HSE_deployment.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="text-base-color alt-font fw-800 fs-32">HSE Deployment</a>

                      <p class="text-white mt-20px">We offer professional HSE deployment services to implement HSEQ plans proactively & to ensure adequate on-site supervision</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{%static 'assets/images/bsafe/home_page/Field_Trainings.jpg' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/Field_Trainings.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>

                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/hse_training.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="text-base-color alt-font fw-800 fs-32">HSE Field Trainings</a>

                      <p class="text-white mt-20px">Our HSE field training programs equip your workforce with the necessary skills & knowledge to handle workplace hazards effectively</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="#">
                      <img src="{%static 'assets/images/bsafe/home_page/Construction_Supervision.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>

                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/Construction_Supervision.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="text-base-color alt-font fw-800 fs-32">Construction Supervision</a>

                      <p class="text-white mt-20px">Our construction management services encompass every aspect of managing a construction project, from initial planning to completion</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!--end slider item-->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{% url 'home:service_detail' service_type='website_applications' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/web_applications.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>

                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/web_application.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="text-base-color alt-font fw-800 fs-32">Web Applications</a>

                      <p class="text-white mt-20px">We specialize in the development of customized web applications designed to fulfil the specific requirements of your business</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/brand.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>
                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/branding.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="text-base-color alt-font fw-800 fs-32">Branding & Marketing</a>

                      <p class="text-white mt-20px">Our branding & marketing services are strategically crafted to elevate your business's visibility & impact in the market</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!--end slider item-->

              <!--start slider item-->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/Thesis.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>
                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/thesis.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="text-base-color alt-font fw-800 fs-32">Thesis Guidance</a>

                      <p class="text-white mt-20px">Our all-encompassing thesis support service provides continuous assistance to students at every stage of their academic pursuit</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!--end slider item-->

              <!--start slider item-->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="{% url 'home:service_detail' service_type='Import_Export' %}">
                      <img src="{%static 'assets/images/bsafe/home_page/import_export.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>

                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static  'assets/images/bsafe/icon/export.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="text-base-color alt-font fw-800 fs-32">Import & Export</a>

                      <p class="text-white mt-20px">Our import & export consultancy specializes in optimizing & simplifying global trade & across the EU region operations</p>
                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="#">
                      <img src="{%static 'assets/images/bsafe/home_page/logistics-home.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>
                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static 'assets/images/bsafe/icon/HSEQ.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}" class="text-base-color alt-font fw-800 fs-32">Logistics and transport</a>

                      <p class="text-white mt-20px">Versatile Logistics and Transport services to meet the evolving needs of businesses, restaurants, and individuals across the EU
                      </p>

                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->

              <!-- start slider item -->
              <div class="swiper-slide">
                <!-- start interactive banner item -->
                <div class="col interactive-banner-style-05">
                  <figure class="m-0 hover-box overflow-hidden position-relative border-radius-6px">
                    <a href="#">
                      <img src="{%static 'assets/images/bsafe/home_page/food-home.jpg' %}" class="w-100 border-radius-6px" alt="" />
                      <div class="overlay-layer position-absolute w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);"></div>
                    </a>
                    <figcaption class="d-flex flex-column text-white-linear align-items-start justify-content-center position-absolute left-0px top-0px w-100 h-100 z-index-1 p-50px xl-p-40px sm-p-30px last-paragraph-no-margin">
                      <img src="{%static 'assets/images/bsafe/icon/HSEQ.png' %}" class="mb-auto h-70px" alt="" />
                      <a href="{% url 'home:service_detail' service_type='Food_Safety' %}" class="text-base-color alt-font fw-800 fs-32">Food Safety and Hygiene</a>

                      <p class="text-white mt-20px">We help vendors meet all hygiene regulations. Through practical training, on-site support, and compliance checks
                      </p>

                    </figcaption>
                  </figure>
                </div>
                <!-- end interactive banner item -->
              </div>
              <!-- end slider item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end section -->
<!--start section-->
<section class="p-3">
  <div class="container-fluid">
    <div class="row position-relative clients-style-08 mt-25px" data-anime='{ "opacity": [0,1], "duration": 600, "delay":200, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <div class="col swiper text-center feather-shadow"
        data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 3000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false}, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 5 }, "992": { "slidesPerView": 3 }, "576": { "slidesPerView": 2 } }, "effect": "slide" }'>
        <div class="swiper-wrapper marquee-slide">
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="https://www.equans.com/"><img src="/static/assets/images/clients/equans.png" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a href="https://aether.co.in/"><img src="/static/assets/images/clients/aether.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="https://www.parsons.com/"><img src="/static/assets/images/clients/parsons-logo.jpeg" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/arabtec-logo.png" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/tecnimont.png" alt="" /></a>
          </div>
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/bortalis.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/north25-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/dp-logo.jpeg" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/coengr-logo.jpeg" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->

          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/DEC-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/altorath-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/Musanada-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/Bloom-logo.jpg" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/CPM-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/ADAC-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/miral-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/elm-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/alhusam-group-logo.jpg" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->

          <!-- end client item -->

          <!-- start client item -->
          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/BESIX-logo.webp" alt="" /></a>
          </div>
          <!-- end client item -->
          <!-- start client item -->

          <div class="swiper-slide">
            <a href="#"><img src="/static/assets/images/clients/aecom-logo.png" alt="" /></a>
          </div>
          <!-- end client item -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- start section -->

<!-- end section -->

<!-- start section -->
<section class="pb-8 md-pb-17 xs-pb-28">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-9 md-mb-50px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">About business</span>
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px mb-20px sm-w-85 xs-w-100 mx-auto">
          Smart & Effective Business Solutions
        </h3>
        <p>
          Bsafe Group offers comprehensive business solutions leveraging over 15 years of experience across diverse industries. Our services are tailored to optimize operations, ensure regulatory compliance, improve efficiency, & foster business expansion. We prioritize client satisfaction and
          emphasize a "Leading With Trust. Payment Comes Last" approach to ensure long-term success for our partners. </p>
        <div class="d-flex flex-row justify-content-center justify-content-lg-start align-items-center mt-35px">
          <div class="w-120px me-25px flex-shrink-0">
            <div class="chart-percent">
              <span class="pie-chart-style-01 d-flex align-items-center justify-content-center text-center" data-line-width="7" data-percent="7" data-size="120" data-track-color="#ededed" data-start-color="#aa1e23" data-end-color="#aa1e23">
                <span class="percent d-flex align-items-center justify-content-center alt-font fs-26 text-dark-gray fw-600 ls-minus-1px"></span>
              </span>
            </div>
          </div>
          <div class="text-start">
            <span class="fs-20 lh-28 text-dark-gray alt-font fw-500 d-inline-block w-70 xs-w-100">Growth & Invesment in the
              <span class="text-decoration-line-bottom-medium fw-600 text-base-color">last 2 years.</span></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <figure class="position-relative m-0">
          <img src="{%static 'assets/images/bsafe/home_page/business_solutions.jpg' %}" alt="" class="w-100 border-radius-5px" />
          <!-- img size 800*660-->

        </figure>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
<section class="border-bottom border-color-extra-medium-gray pt-40px pb-40px overflow-hidden">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center align-items-center" data-anime='{ "el": "childs", "translateX": [-15, 0], "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
      <!-- start features box item -->
      <div class="col icon-with-text-style-08 md-mb-30px text-center text-sm-start">
        <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
          <div class="feature-box-icon me-10px">
            <i class="bi bi-shield-check icon-very-medium text-base-color"></i>
          </div>
          <div class="feature-box-content">
            <span class="alt-font fw-500 text-dark-gray d-block lh-26">World-Class Services</span>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-08 md-mb-30px text-center text-sm-start">
        <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
          <div class="feature-box-icon me-10px">
            <i class="bi bi-hourglass icon-very-medium text-base-color"></i>
          </div>
          <div class="feature-box-content">
            <span class="alt-font fw-500 text-dark-gray d-block lh-26">Experience In Strategy</span>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-08 xs-mb-30px text-center text-sm-start">
        <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
          <div class="feature-box-icon me-10px">
            <i class="bi bi-award icon-very-medium text-base-color"></i>
          </div>
          <div class="feature-box-content">
            <span class="alt-font fw-500 text-dark-gray d-block lh-26">Award Winning Company</span>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-08 text-center text-sm-start">
        <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
          <div class="feature-box-icon me-10px">
            <i class="bi bi-shield-lock icon-very-medium text-base-color"></i>
          </div>
          <div class="feature-box-content">
            <span class="alt-font fw-500 text-dark-gray d-block lh-26">Secure Your Business</span>
          </div>
        </div>
      </div>
      <!-- end features box item -->
    </div>
  </div>
</section>
<!-- start section -->
<section class="bg-dark-slate-blue pt-4 pb-4 lg-pt-6 lg-pb-6" data-parallax-background-ratio="0.5" style="background-image: url({%static 'assets/images/bsafe/banar_bottom.jpg' %})"
  data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
  <div class="opacity-medium bg-dark-slate-blue"></div>
  <div class="container z-index-1 position-relative">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 text-center">
        <h4 class="alt-font text-white mb-0 fw-300 fancy-text-style-4">
          ADDING SUCCESS, ONE
          <span class="fw-600" data-fancy-text='{ "effect": "wave", "direction": "down", "string": ["PROJECT!", "BUSINESS!", "PROBLEM!"], "duration": 3500 }'></span>
          AT A TIME
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- start section Services -->
<section class="big-section bg-gradient-very-light-gray position-relative pb-0 pt-2">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-XL-7 col-lg-8 text-center">
        <h2 class="text-dark-gray fw-700 ls-minus-1px">Benefits Of Our Services</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-6">
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-toolbox icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Custom Solutions</span>
            <p class="w-100 xl-w-90">Receive tailored solutions designed specifically for your unique business needs, whether it's personalised HSE training, custom web applications, or individualised marketing strategies</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-bullseye icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Improved Quality & Productivity</span>
            <p class="w-100 xl-w-90">Implement quality management & assurance programs to boost the quality of your work output & enhance overall productivity, whether in construction, safety, or business operations</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-hands-holding icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Expert Guidance</span>
            <p class="w-100 xl-w-90">Benefit from industry professionals with extensive expertise who provide tailored support & advice for your specific needs</p>
          </div>
        </div>
      </div>
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-gears icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Enhanced Efficiency</span>
            <p class="w-100 xl-w-90">Streamline processes across various aspects of your business—there it's construction management, safety implementation, or web applications-leading to greater operational efficiency</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">
            <i class="fa-solid fa-hand-holding-dollar icon-large text-dark-gray"></i>

          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Cost Savings</span>
            <p class="w-100 xl-w-90">Optimise resource use, reduce risks & improve planning to save on costs, whether it's through efficient logistics in import/export or avoiding delays in construction projects</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 mb-50px sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-certificate icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Regulatory Compliance</span>
            <p class="w-100 xl-w-90">Ensure all activities are fully compliant with relevant regulations & standards, reducing legal liabilities & improving organisational credibility</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-triangle-exclamation icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Risk Management</span>
            <p class="w-100 xl-w-90">Identify, evaluate, & address any possible operational risks to guarantee successful project execution & cultivate a secure & healthy work atmosphere
            </p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col icon-with-text-style-01 sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-solid fa-people-roof icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Comprehensive Support</span>
            <p class="w-100 xl-w-90">Access end-to-end assistance across services, including project management, marketing campaigns, or thesis development, ensuring no aspect of your project is overlooked</p>
          </div>
        </div>
      </div>
      <div class="col icon-with-text-style-01 sm-mb-40px">
        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
          <div class="feature-box-icon">

            <i class="fa-regular fa-credit-card icon-large text-dark-gray"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block text-dark-gray fw-600 text-capitalize mb-5px">Payments & Operational Hours
            </span>
            <p class="w-100 xl-w-90">To effectively support global businesses, offering 24/7 operational hours & extended payment options is imperative, providing flexibility, when using the Buy Now, Pay Later (BNPL) model</p>
          </div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->

      <!-- end features box item -->
    </div>
  </div>

</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative overflow-hidden sm-pb-20px">

  <div class="container">
    <div class="row justify-content-center mb-2">
      <div class="col-xl-7 col-lg-9 col-md-10 text-center">
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px"
          data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>Latest news</span>
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Stay Updated With The Latest Trends & Business News
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-md-0">
        <ul class="blog-classic blog-wrapper grid-loading grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large"
          data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          <li class="grid-sizer"></li>
          <!-- start blog item -->
          {% for post in all_posts %}
          <li class="grid-item">
            <div class="card bg-transparent border-0 h-100">
              <div class="blog-image position-relative overflow-hidden border-radius-6px">
                <a href="{% url 'blog:blog_detail' post.post_Slug %}"><img src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
                <!-- img size 600*430-->
              </div>
              <div class="card-body px-0 pb-30px pt-30px xs-pb-15px">
                <span class="fs-14 text-uppercase mb-5px d-block"><a href="{% url 'blog:blog_detail' post.post_Slug %}" class="text-dark-gray fw-600 categories-text">{{ post.category.name }}</a><a href="{% url 'blog:blog_detail' post.post_Slug %}" class="blog-date">{{ post.date }}</a></span>
                <a href="{% url 'blog:blog_detail' post.post_Slug %}" class="card-title mb-0 fw-500 fs-18 lh-30 text-dark-gray d-inline-block">{{ post.title }}</a>
              </div>
            </div>
          </li>

          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end section -->


<!--end section-->


<!-- end section -->

{% endblock content %}