{% extends 'base.html' %} {% load static %} {% block content %}
<!-- start page title -->
<section class="page-title-big-typography bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="
    background-image: url('/static/assets/images/bsafe/services-banner.jpg');
  ">
  <!-- img size 1920*1100-->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center extra-small-screen">
      <div class="col-12 position-relative text-center page-title-extra-large">
        <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Services - business
        </h1>
      </div>
      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="big-section" id="down-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 md-mb-14 sm-mb-16 xs-mb-22 position-relative">
        <div class="text-end w-70 xs-w-85 ms-auto" data-animation-delay="500" data-shadow-animation="true" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)">
          <img src="https://via.placeholder.com/800x1036" alt="" class="border-radius-5px" />
        </div>
        <div class="w-60 xs-w-75 overflow-hidden position-absolute left-15px bottom-minus-50px" data-shadow-animation="true" data-animation-delay="300" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
          <img src="https://via.placeholder.com/800x1036" alt="" class="border-radius-5px box-shadow-quadruple-large" />
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 text-center text-lg-start">
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>15 Years highly
          expertise</span>
        <h3 class="alt-font fw-600 text-dark-gray ls-minus-2px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>
          HSEQ Planning and implementation
        </h3>
        <div class="progress-bar-style-01 mt-18 md-mt-12 sm-mt-70px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          <!-- start progress bar item -->
          <div class="progress mb-15 md-mb-70px bg-extra-medium-gray">
            <div class="progress-bar-title d-inline-block text-dark-gray fs-18 fw-500">
              HSEQ Manual Implementation
            </div>
            <div class="progress-bar bg-base-color" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="planning">
              <span class="progress-bar-percent text-center bg-dark-gray fs-12 lh-14 fw-600 text-white">100%</span>
            </div>
          </div>
          <!-- end progress bar item -->
          <!-- start progress bar item -->
          <div class="progress mb-15 md-mb-70px bg-extra-medium-gray">
            <div class="progress-bar-title d-inline-block text-dark-gray fs-18 fw-500">
              Safety Operational Controls
            </div>
            <div class="progress-bar bg-base-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" aria-label="research">
              <span class="progress-bar-percent text-center bg-dark-gray fs-12 lh-14 fw-600 text-white">40%</span>
            </div>
          </div>
          <!-- end progress bar item -->
          <!-- start progress bar item -->
          <div class="progress bg-extra-medium-gray">
            <div class="progress-bar-title d-inline-block text-dark-gray fs-18 fw-500">
              Communication & Education
            </div>
            <div class="progress-bar bg-base-color" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" aria-label="campaign">
              <span class="progress-bar-percent text-center bg-dark-gray fs-12 lh-14 fw-600 text-white">40%</span>
            </div>
          </div>
          <!-- end progress bar item -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="py-0">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-7 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Other business services
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center g-3 g-md-4" data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/services_HSEQ.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='qhse-management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='qhse-management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSEQ Management</a>
            <p>Zero LTI is our aim</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='hse-training' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='hse-training' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Trainings</a>
            <p>Employee training is a key</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/deployment3.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='hse-deployment' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='hse-deployment' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Deployment</a>
            <p>Competency is a result of excellence</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/construction_management_section1.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Construction Management</a>
            <p>Agile expertise in every phase</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/WEB.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Web Applications</a>
            <p>Keep it safe, Maintain your home</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/market377.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Branding & Marketing</a>
            <p>Innovation begins with renovation</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->
    </div>
  </div>
</section>
<!-- end section -->
{% endblock content %}