{% extends "base.html" %} {% load static %} {% block content %}
<!-- start page title -->
<section class="page-title-big-typography h-700px  md-h-450px sm-h-350px  bg-dark-gray ipad-top-space-margin" data-parallax-background-ratio="0.5" style="
    background-image: url('{%static 'assets/images/bsafe/web.jpg' %}'); background-size: auto !important;">
  <!-- img size 1920*1100-->
  <div class="opacity-extra-medium bg-dark-slate-blue"></div>
  <div class="container mt-5">
    <div class="row align-items-center justify-content-center extra-small-screen">
      <div class="col-12 position-relative text-center page-title-extra-large">
        <h1 class="m-auto text-white text-shadow-double-large fw-500 ls-minus-3px xs-ls-minus-2px" data-anime='{ "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Thesis Guidance
        </h1>
      </div>
      <div class="down-section text-center" data-anime='{ "translateY": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="#down-section" aria-label="scroll down" class="section-link">
          <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle fs-30 text-white">
            <i class="feather icon-feather-chevron-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end page title -->

<!-- start section -->
<section id="down-section">
  <div class="container">
    <div class="row align-items-center justify-content-center" data-anime='{ " perspective": 1200 }'>
      <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <figure class="position-relative m-0">
          <img src="{%static  'assets/images/bsafe/website_dev.jpg' %}" alt="" class="w-100 border-radius-5px" />
          <!-- img size 800*660-->
          <figcaption class="w-190px sm-w-180px xs-w-140px bg-white p-30px xs-p-15px border-radius-6px position-absolute bottom-30px left-30px xs-bottom-20px xs-left-15px overflow-hidden box-shadow-medium animation-float text-center"
            data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1000, "delay": 1000, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <span class="alt-font fs-90 xs-fs-80 fw-700 text-white d-block position-relative z-index-1">15</span>
            <div class="alt-font fw-500 fs-20 xs-fs-18 d-block text-dark-gray lh-24 xs-lh-22 ls-minus-05px xs-mb-5px">
              Years of experience
            </div>
            <div class="h-160px w-160px border-radius-100 bg-base-color position-absolute left-minus-5px xs-left-minus-25px top-minus-60px sm-top-minus-80px xs-top-minus-100px z-index-0"></div>
          </figcaption>
        </figure>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10 text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Business planning</span>
        <h3 class="fw-600 text-dark-gray mb-20px ls-minus-2px alt-font">
          Professional and dedicated services.
        </h3>
        <p class="w-95 md-w-100 mb-35px">
          At Bsafe Group, our Web Applications department provides a comprehensive range of services to meet your diverse needs. From creating and maintaining websites to advanced IT solutions, we are here to help you achieve your goals with professionalism and expertise.
        </p>
        <div class="pt-20px pb-20px ps-30px pe-30px xs-p-15px border border-color-extra-medium-gray border-radius-6px mb-15px icon-with-text-style-08 w-90 lg-w-100">
          <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
            <div class="feature-box-icon me-10px">
              <i class="bi bi-people icon-medium text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="alt-font fw-600 text-dark-gray d-block lh-26">10k+ people trusting the agency.</span>
            </div>
          </div>
        </div>
        <p class="fs-13 mb-0">
          We are excited for our work and how it
          <span class="text-dark-gray text-decoration-line-bottom">positively</span>
          impacts clients.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!--start section -->
<section class="pb-8 md-pb-17 xs-pb-28">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-9 md-mb-50px text-center text-lg-start appear anime-child anime-complete"
        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px" style="">Business Potential</span>
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px mb-20px sm-w-85 xs-w-100 mx-auto" style="">
          Benefits of Our Web Application Services

        </h3>
        <p style="">
          Discover how our comprehensive web application services can drive your business forward. We offer a range of solutions designed to enhance your online presence, streamline operations, and support your growth. </p>

      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 position-relative">
        <div class="text-end w-80 md-w-75 ms-auto skrollable skrollable-between shadow-in" data-animation-delay="500" data-shadow-animation="true" data-bottom-top="transform: translateY(50px)" data-top-bottom="transform: translateY(-50px)" style="transform: translateY(0.590087px);">
          <img src="{%static  'assets/images/bsafe/website_dev2.jpg' %}" alt="" height="800" class="border-radius-5px" data-no-retina="">
          <!-- img size 750*800 -->
        </div>
        <div class="w-60 md-w-50 xs-w-55 overflow-hidden position-absolute left-15px bottom-minus-50px skrollable skrollable-between shadow-in" data-shadow-animation="true" data-animation-delay="500" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)"
          style="transform: translateY(-7.46269px);">
          <img src="{%static  'assets/images/bsafe/website_dev3.jpg' %}" alt="" class="border-radius-5px box-shadow-quadruple-large" data-no-retina="">
          <!-- img size 638*638 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--end section-->

<!-- start section -->
<section class="bg-solitude-blue">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-8 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px sm-mb-20px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Our Services
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "willchange": "transform", "scale":[0.95,1], "opacity": [0, 1], "duration": 800, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-window-fullscreen text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Proposal Writing</span>
            <p class="text-light-opacity">
              Assist with selecting a research topic and developing a solid proposal
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all md-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-phone text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Chapter Development</span>
            <p class="text-light-opacity">
              Guide students through writing each chapter of their thesis
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 transition-inner-all xs-mb-30px">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-shop-window text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Data Analysis</span>
            <p class="text-light-opacity">
              Help with both qualitative and quantitative data analysis
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <!-- start features box item -->
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-pc-display text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Editing & Proofreading</span>
            <p class="text-light-opacity">
              Review work for style, clarity and academic accuracy
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-window-stack text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Defence Preparation</span>
            <p class="text-light-opacity">
              Provide coaching for effective thesis defence presentation
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-envelope text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Plagiarism Check</span>
            <p class="text-light-opacity">
              Ensure the originality of content with plagiarism checks
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-envelope text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Reference Management</span>
            <p class="text-light-opacity">
              Assist with organising references and citations
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
      <div class="col-lg-4 icon-with-text-style-04 mt-25px transition-inner-all">
        <div class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
          <div class="feature-box-icon">
            <i class="bi bi-envelope text-base-color icon-extra-large text-light-opacity mb-20px"></i>
          </div>
          <div class="feature-box-content">
            <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Time Management Coaching</span>
            <p class="text-light-opacity">
              Offer strategies for managing thesis deadlines effectively
            </p>
          </div>
          <div class="feature-box-overlay bg-base-color"></div>
        </div>
      </div>
      <!-- end features box item -->
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mt-6 xs-mt-8" data-anime='{ "el": "childs", "translateY":[0, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 100, "easing": "easeOutQuad" }'>
      <!-- start content box item -->
      <div class="col border-end xs-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">4.98</h2>
          </div>
          <div class="text-dark-gray">
            <div class="fs-14 lh-28">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
            </div>
            <span class="fs-17 lh-26 d-block fw-500">177 rating</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
      <!-- start content box item -->
      <div class="col border-end md-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
              99<sup class="fs-30">%</sup>
            </h2>
          </div>
          <div class="text-dark-gray">
            <span class="fs-17 lh-26 d-block fw-500">Genuine client's <br />positive feedback.</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
      <!-- start content box item -->
      <div class="col">
        <div class="d-flex align-items-center justify-content-center">
          <div class="flex-shrink-0 me-25px sm-me-15px">
            <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">
              126<sup class="fs-30">+</sup>
            </h2>
          </div>
          <div class="text-dark-gray">
            <span class="fs-17 lh-26 d-block fw-500">Monthly expert <br />business advice.</span>
          </div>
        </div>
      </div>
      <!-- end content box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section>
  <div class="container">
    <div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
      <div class="col-xl-5 col-lg-6 col-md-10 md-mb-50px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
        <span class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-600 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-25px">Services benefits</span>
        <h3 class="fw-600 text-dark-gray ls-minus-2px alt-font" data-anime='{ "el": "lines", "translateY": [15, 0], "opacity": [0,1], "delay": 100, "staggervalue": 100, "easing": "easeOutQuad" }'>
          Why Choose Our Web Application Services?
        </h3>
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Expand Your Business : Scalable solutions for growth.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray"> Diversify Offerings: New products and services with ease.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08 mb-10px">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Start-up Support : From launch to scaling.

              </span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
        <!-- start features box item -->
        <div class="icon-with-text-style-08">
          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
            <div class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-solitude-blue rounded-circle me-10px">
              <i class="fa-solid fa-check fs-14 text-base-color"></i>
            </div>
            <div class="feature-box-content">
              <span class="text-dark-gray">Ongoing Planning :Continuous enhancements for evolving needs.</span>
            </div>
          </div>
        </div>
        <!-- end features box item -->
      </div>
      <div class="col-lg-6 offset-xl-1 position-relative z-index-1" data-anime='{ "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="atropos" data-atropos data-atropos-perspective="2450">
          <div class="atropos-scale">
            <div class="atropos-rotate">
              <div class="atropos-inner">
                <img src="{%static  'assets/images/bsafe/website_dev4.jpg' %}" alt="" class="border-radius-6px" />
                <!--img size 800*660-->
              </div>
            </div>
          </div>
        </div>
        <div class="absolute-middle-center text-white-space-nowrap z-index-9">
          <a href="https://www.youtube.com/watch?v=cfXHhfNy7tU" class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i class="fa-brands fa-youtube icon-small"></i>See How We Work</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section position-relative">
  <div id="particles-style-01" class="h-100 position-absolute left-0px top-0 w-100 z-index-minus-1" data-particle="true"
    data-particle-options='{"particles": {"number": {"value": 25,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#ffc700", "#232323"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 1,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'>
  </div>
  <div class="container position-relative">
    <div class="position-absolute bottom-150px lg-bottom-50px z-index-minus-2 d-none d-lg-block"><img src="images/demo-ebook-shape-02.png" data-bottom-top="transform: rotate(10deg) translateX(50px)" data-top-bottom="transform:rotate(-10deg) translateX(-50px)" alt="" /></div>
    <div class="position-absolute top-minus-150px right-50px z-index-minus-2 d-none d-lg-block"><img src="images/demo-ebook-shape-03.png" data-bottom-top="transform: rotate(20deg) translateY(50px)" data-top-bottom="transform:rotate(-20deg) translateY(-50px)" alt="" /></div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8 text-center mb-3">
        <h2 class="text-base-color fw-700 ls-minus-2px mb-40px">Get a consultation services.</h2>
        <a href="#" id="bookBtn" class="btn btn-extra-large btn-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-url="{% url 'booking:book_appointment' %}">GET A QUOTE<span class="bg-white"></span></a>
        <a href="{% url 'contact:contact' %}" class="btn btn-extra-large btn-transparent-dark-gray btn-slide-down btn-rounded me-5px ms-5px mb-15px">Contact US<span class="bg-dark-gray"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- start section -->
<section class="py-0">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-7 col-lg-9 col-md-10 text-center">
        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
          Other business services
        </h3>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center g-3 g-md-4" data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/services_HSEQ.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSEQ Management</a>
            <p>Zero LTI is our aim</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box md-mb-30px border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/training.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Field Trainings</a>
            <p>Employee training is a key</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/hse/deployment3.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">HSE Deployment</a>
            <p>Competency is a result of excellence</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/construction_management_section1.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='construction_management' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Construction Management</a>
            <p>Agile expertise in every phase</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/WEB.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='website_applications' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Web Applications</a>
            <p>Keep it safe, Maintain your home</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->

      <!-- start fancy text box item -->
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/market377.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Branding & Marketing</a>
            <p>Innovation begins with renovation</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/Thesis.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Thesis Guidance</a>
            <p>Innovation begins with renovation</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="box-shadow-quadruple-large services-box-style-01 hover-box border-radius-5px overflow-hidden">
          <div class="position-relative box-image">
            <img src="{%static 'assets/images/bsafe/services/import_export.jpg' %}" alt="" /><!--img size 800*660-->
            <div class="box-overlay bg-dark-gray"></div>
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-60px h-60px rounded-circle box-shadow-quadruple-large border border-2 border-color-white"><i
                class="feather icon-feather-arrow-right text-white icon-extra-medium"></i></a>
          </div>
          <div class="p-10 bg-white last-paragraph-no-margin text-center">
            <a href="{% url 'home:service_detail' service_type='Import_Export' %}" class="d-inline-block fs-18 alt-font fw-500 text-dark-gray mb-5px">Import & Export</a>
            <p>Innovation begins with renovation</p>
          </div>
        </div>
      </div>
      <!-- end fancy text box item -->
    </div>
  </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="half-section">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      <div class="col sm-mb-20px" data-anime='{ "translateX": [-30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <h4 class="alt-font text-dark-gray fw-600 ls-minus-2px m-0">
          Get a free personal business consultation?
        </h4>
      </div>
      <div class="col-12 col-md-auto" data-anime='{ "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <a href="{% url 'contact:contact' %}" class="btn btn-large btn-dark-gray btn-box-shadow btn-rounded left-icon"><i class="feather icon-feather-mail"></i>Free consultation</a>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

{% endblock content %}