{% load static %}
<footer class="pt-5 pb-5 sm-pt-40px sm-pb-45px footer-dark bg-extra-medium-slate-blue">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- start footer column -->
            <div class="col-lg-3 col-sm-6 last-paragraph-no-margin order-5 order-sm-4 order-lg-1 text-center text-sm-start">
                <a href="{% url 'home:home' %}" class="footer-logo mb-15px d-block d-lg-inline-block"><img src="{% static 'assets/images/bsafe/bsafe_logo.png'%}" /></a>

                <p>
                    Copyright &COPY; 2021
                    <a href="{% url 'home:home' %}" target="_blank" class="text-white text-decoration-line-bottom">Powered By BsafeGroup</a>
                </p>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-4 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-1 order-lg-2">
                <span class="alt-font d-block text-white mb-5px">Company</span>
                <ul>
                    <li><a href="{% url 'home:about' %}">About Us</a></li>
                    <li><a href="{% url 'home:services' %}">Our Services</a></li>
                    <li><a href="{% url 'home:clients' %}">Our Clients</a></li>
                    <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-7 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-2 order-lg-3 px-lg-2">
                <span class="alt-font d-block text-white mb-5px">Services</span>
                <ul>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='HSEQ_management' %}">HSEQ Management</a>
                    </li>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='HSE_deployment' %}">HSE Deployment</a>
                    </li>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}">HSE Field Trainings</a>
                    </li>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='construction_management' %}">Construction Management
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='website_applications' %}">Web Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'home:service_detail' service_type='Marketing_Branding' %}">
                            Design Renovation
                        </a>
                    </li>
                    <li><a href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}">Thesis Guidance</a></li>
                    <li><a href="{% url 'home:service_detail' service_type='Import_Export' %}">Import & Export</a></li>
                    <li><a href="{% url 'home:service_detail' service_type='Logistics_Transport' %}">Logistics and transport</a></li>
                    <li><a href="{% url 'home:service_detail' service_type='Food_Safety' %}">Food Safety & Hygiene</a></li>
                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-5 col-lg-2 col-sm-4 md-mb-50px sm-mb-30px order-3 order-lg-4">
                <span class="alt-font d-block text-white mb-5px">Social connect</span>
                <ul>
                    <li>
                        <a href="https://maps.app.goo.gl/HbGzhFAc6SPNkXtq5"
                            target="_blank">Google Maps</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/bsafegroup/" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/98545009" target="_blank">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCEQGp-C3C1ocodfSstzC13g" target="_blank">Youtube</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/bsafegroup/" target="_blank">Instagram</a>
                    </li>
                    <li><a href="https://x.com/BsafeintlEU" target="_blank">X</a></li>
                    <li><a href="https://www.tiktok.com/@bsafegroup" target="_blank">Tiktok</a></li>

                </ul>
            </div>
            <!-- end footer column -->
            <!-- start footer column -->
            <div class="col-7 col-lg-3 col-sm-6 xs-mb-30px last-paragraph-no-margin order-4 order-sm-5 order-lg-5">
                <span class="alt-font d-block text-white mb-5px">Get in touch</span>
                <p class="w-80 lg-w-100 md-w-70 sm-w-100 mb-10px">
                    Our Regional Service Areas
                </p>
                <div>
                    <i class="feather icon-feather-phone-call icon-very-small text-white me-10px"></i><a href="tel:+32033861949" class="text-white">+32 033 8619 49</a>
                </div>

                <div>
                    <i class="feather icon-feather-mail icon-very-small text-white me-10px"></i><a href="mailto:info@bsafegroup.eu" class="text-white text-decoration-line-bottom">info@bsafegroup.eu</a>
                </div>

            </div>
            <!-- end footer column -->
        </div>
    </div>
</footer>


</div>
<!-- end footer column -->
</div>
</div>
</footer>