{% load static %}

<header>

    <nav class="navbar navbar-expand-lg header-transparent bg-transparent disable-fixed" data-header-hover="dark">
        <div class="container-fluid">
            <div class="col-lg-6 col-3 me-lg-0 me-auto d-flex d-lg-flex">
                <div class="header-icon">
                    <div class="header-social-icon icon">
                        <a href="https://www.facebook.com/profile.php?id=61566862343062" target="_blank"><i class="fa-brands  fa-facebook-f sm-fs-15 text-white-linear"></i></a>
                        <a href="https://www.linkedin.com/company/www-bsafegroup-eu/posts/?feedView=all" target="_blank"><i class="fa-brands fa-linkedin sm-fs-15 text-white-linear"></i></a>
                        <a href="https://www.youtube.com/@BSafeGroup" target="_blank"><i class="fa-brands fa-youtube sm-fs-15 text-white-linear"></i></a>
                        <a href="https://www.instagram.com/bsafegroup.be/" target="_blank"><i class="fa-brands fa-instagram sm-fs-15 text-white-linear"></i></a>
                        <a href="https://x.com/bsafegroup2022" target="_blank"><i class="fa-brands sm-fs-15 fa-x text-white-linear "></i></a>
                        <a href="https://www.tiktok.com/@bsafegroup" target="_blank"><i class="fa-brands sm-fs-15 fa-tiktok text-white-linear "></i></a>
                       
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <a class="navbar-brand" href="demo-horizontal-portfolio.html">
                    <img src="images/demo-horizontal-portfolio-logo.png" data-at2x="images/demo-horizontal-portfolio-logo@2x.png" alt="" class="default-logo">
                    <img src="images/demo-horizontal-portfolio-logo.png" data-at2x="images/demo-horizontal-portfolio-logo@2x.png" alt="" class="alt-logo">
                    <img src="images/demo-horizontal-portfolio-logo.png" data-at2x="images/demo-horizontal-portfolio-logo@2x.png" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto col-lg-6 text-end">

                <div class="header-icon header-push-button d-flex hamburger-push-button icon">
                    <div class="header-button me-15px">
                        <button type="button" id="bookBtn" href="" class="btn btn-small bg-base-color text-white btn-rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-url="{% url 'booking:book_appointment' %}">
                            Where to start
                        </button>
                    </div>
                    <div class="push-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="push-menu hamburger-nav header-dark hamburger-menu-simple bg-black" style="background-image: url(images/vertical-line-bg-small-light-gray.svg)">
        <span class="close-menu text-dark-gray bg-white fs-18"><i class="fa-solid fa-xmark"></i></span>
        <div class="d-flex flex-column align-items-center justify-content-center h-100 p-5 lg-p-7 sm-px-0">
            <a class="hamburger-logo" href="demo-horizontal-portfolio.html">
                <img src="images/demo-horizontal-portfolio-logo.png" data-at2x="images/demo-horizontal-portfolio-logo@2x.png" alt="">
            </a>
            <div class="row align-items-center justify-content-center">
                <div class="hamburger-menu menu-list-wrapper col-lg-5 lg-no-margin offset-lg-1" data-scroll-options='{ "theme": "light" }'>
                    <ul class="menu-item-list fw-500 alt-font text-center text-lg-start">
                        <li class="menu-item"><a href="{% url 'home:home' %}" class="nav-link">Home</a></li>
                        <li class="menu-item"><a href="{% url 'home:about' %}" class="nav-link">About</a></li>
                        <li class="menu-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{%url 'home:services' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <ul class="dropdown-menu z-index-3 position-relative mb-5 pb-20px" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='HSEQ_management' %}">HSEQ Management</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='HSE_deployment' %}">HSE Deployment</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='HSE_Field_Trainings' %}">HSE Field Trainings</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='construction_management' %}">Construction Supervision</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='website_applications' %}">Web Applications</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='Marketing_Branding' %}">Branding & Marketing</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='Thesis_Guidance' %}">Thesis Guidance</a></li>
                                <li><a class="dropdown-item" href="{% url 'home:service_detail' service_type='Import_Export' %}">Import & Export</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="{% url 'home:clients' %}" class="nav-link">Clients</a></li>
                        <li class="menu-item"><a href="{% url 'blog:blog' %}" class="nav-link">Blog</a></li>
                        <li class="menu-item"><a href="{% url 'home:faq' %}" class="nav-link">FAQ</a></li>
                        <li class="menu-item"><a href="{% url 'contact:contact' %}" class="nav-link">Contact</a></li>
                        <li class="menu-item"><a id="bookBtn" class="nav-link btn btn-small bg-base-color text-white btn-rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-url="{% url 'booking:book_appointment' %}">Where to start</a></li>
                        <div class="col-12 d-flex d-lg-none  elements-social social-icon-style-10">
                            <ul class="light">
                                <li class="me-15px">
                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61566862343062" target="_blank">Fb.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="instagram" href="https://www.instagram.com/bsafegroup.be/" target="_blank">Ig.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="twitter" href="https://www.linkedin.com/company/www-bsafegroup-eu/posts/?feedView=all" target="_blank">Ln.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://www.youtube.com/@BSafeGroup" target="_blank">Yb.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://x.com/bsafegroup2022" target="_blank">X.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://www.tiktok.com/@bsafegroup" target="_blank">TK.</a>
                                </li>
                                <li>
                                    <a class="behance" href="https://www.pinterest.com/bsafegroupbe/" target="_blank">Pt.</a>
                                </li>
                            </ul>
                        </div>

                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 d-none d-lg-inline-block offset-xl-1 offset-lg-1">
                    <div class="row menu-address">
                        <div class="col-12 mb-40px">
                            <span class="text-white fw-500 mb-5px d-block">Direct Contact</span>
                            <div class="d-block">
                                <span>Phone:</span> <a href="https://wa.me/32487419847"><i class="fa-brands fa-whatsapp me-10px"></i>+32 487 41 9847</a>
                            </div>
                            <div class="d-block">
                                <span>Mobile:</span> <a href="https://wa.me/+37125581091"><i class="fa-solid fa-phone me-10px"></i>+371 255 81 091</a>
                            </div>
                            <div class="d-block">
                                <span>Email:</span> <a href="mailto:info@bsafegroup.eu">info@bsafegroup.eu</a>
                            </div>
                        </div>
                        <div class="col-12 last-paragraph-no-margin mb-40px">
                            <span class="text-white fw-500 mb-5px d-block">Contact Address</span>
                            <p class="mb-10px">Belguim - Brussels & Flanders</p>
                            <p class="ps-3 mb-0">- Pl. Adolphe Sax, 1050 Ixelles - Brussels 1050 <br>- Vrasenestraat, 9100 Sint-Niklaas - Flanders 9100</p>
                            <p class="mb-10px">Latvia - Rega</p>
                            <p class=" ps-3 mb-0">- Stockmann, 13. janvāra iela 8, 3rd floor</p>

                        </div>
                        <div class="col-12 elements-social social-icon-style-10">
                            <ul class="light">
                                <li class="me-15px">
                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=61566862343062" target="_blank">Fb.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="instagram" href="https://www.instagram.com/bsafegroup.be/" target="_blank">Ig.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="twitter" href="https://www.linkedin.com/company/www-bsafegroup-eu/posts/?feedView=all" target="_blank">Ln.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://www.youtube.com/@BSafeGroup" target="_blank">Yb.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://x.com/bsafegroup2022" target="_blank">X.</a>
                                </li>
                                <li class="me-15px">
                                    <a class="behance" href="https://www.tiktok.com/@bsafegroup" target="_blank">TK.</a>
                                </li>
                                <li>
                                    <a class="behance" href="https://www.pinterest.com/bsafegroupbe/" target="_blank">Pt.</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>