{% extends 'base.html' %}

{% block title %} blog_detail {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog_detail {% endblock body_class %}
{% load static %}

{% block content %}
<!-- start section -->
<section class="one-fourth-screen bg-dark-gray ipad-top-space-margin sm-mb-50px" data-parallax-background-ratio="0.5" style="background-image: url({{ post.image.url }})">

</section>
<!-- end section -->
<!-- start section -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 overlap-section text-center">
                <div class="p-10 box-shadow-extra-large border-radius-4px bg-white text-center">
                    <a href="/" class="bg-solitude-blue text-uppercase fs-13 ps-25px pe-25px alt-font fw-500 text-base-color lh-40 sm-lh-55 border-radius-100px d-inline-block mb-3 sm-mb-15px">{{ post.category }}</a>
                    <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px mb-15px">{{ post.title }}</h3>
                    <div class="lg-20px sm-mb-0">
                        <span><a href="/" class="text-dark-gray fw-700">Our Teams</a></span> were actively engaged on {{ post.date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="overlap-section text-center p-0 sm-pt-30px">
    <img class="rounded-circle box-shadow-extra-large w-130px h-130px border border-8 border-color-white" src="{%static 'assets/images/logo/outher.png' %}" alt="">
</section>
<!-- end section -->
<!-- start section -->
<section class="pb-0 pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 dropcap-style-01" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <p class="mb-6 text-center ">{{ post.subtitle }}</p>
                <div class="row">
                    <div class="col-12 sm-mb-30px">
                        <div class=" h-100 pt-8 pb-8 ps-10 pe-10 last-paragraph-no-margin">

                            <p>{{ post.content|safe }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->


{% endblock %}